@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
    scroll-behavior: smooth;
}

.video{background-color: #191919;
		background-image: url(imagenes/ruidonegrocelu.gif);
		}

a:hover{filter: brightness(70%);} 
a:link, a:visited, a:active {
	
    text-decoration:none;
}	



.subtitulo{display: flex;
			flex-direction: row;
			justify-content: space-between;}

.texto-blanco{ color: white;
				font-family: 'Montserrat', sans-serif; }
.texto-negro{color: #191919}
.texto-gris{color: #a5a5a5}

.montserrat{font-family: 'Montserrat', sans-serif;}	

.bold{font-weight: 700}
.thin{font-weight: 200;}				  
.htrescelu{font-size: 5rem;}
.hseiscelu{font-size: 2.4rem;
			font-weight: 200;}
.logo5{width: 1.2em;
		z-index: 100;}
.page-footer{background-color: #232323;}					
.copy{background-color: #191919;}
.fondo-blanco{background-color: #fff;}
.margin-0{margin:0;
					padding: 0;
					padding-right: 0;
					padding-left: 0;}
/*poner en todos*/
.dropdown-menu{background-color: transparent;
				border:0;
				padding: 0;
                margin: 0;}
.dropdown-item{padding: .5em;
				margin: 0;
				color:#a5a5a5;
				}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {color: #919191}
.navbar-inverse .navbar-nav .nav-link {color: #919191;
										}
.outer-wrapper{display: none}

.uno{
	padding-bottom: 0em;
	padding-top: 3em;
	 
	}

.dos{
    padding-bottom: 0em
     }

.tres{
    padding-bottom: 2em;
    }
 /*   
.cuatro{
	}*/
.container-fluid{padding: 0}
.col, .col-12,  .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12,  .col-sm, .col-sm-12{
	padding-left: 1em;
    padding-right: 1em;
    padding-top:1em;
    margin-top:0em 
}
.instagram{display: none;}
.series{display: none;}


.wrapper{
	display: flex;
	flex-direction: row;

	background-repeat: repeat;
}
.navbar{background-color: #0e0e0e;
		background-image: url(imagenes/ruidonegrocelu.gif);}

@media (min-width: 1200px) and (min-height: 800px) and (orientation: landscape){
													    .navbar{background-color: transparent;}
														.dropdown-item.active, .dropdown-item:active{background: transparent;}
														.dropdown-item:focus, .dropdown-item:hover {background-color: transparent;}
														.htrescelu{font-size: 2rem;}
														.hseiscelu{font-size: 1rem;}
														/*.reel{display: flex;
																justify-content: center;
																align-items: center;
																width: 90%}	
																.reel-centro{display: flex;
																justify-content: center;
																align-items: center;}	*/
																
															/*
															.slide{
																width: 100vw;
																height:  100vh;
															}
															*/

															.wrapper{
																display: flex;
																flex-direction: row;
																width: 1086%;
																height: 100vh;
																transform:rotate(90deg) translateY(-100vh);
																transform-origin: top left;
																background-image: url(imagenes/ruidonegroancho.gif);
																background-repeat: repeat;
															}

															.uno{
																
																display: flex;
																justify-content: center;
																align-items: center;}

															.dos{
                                                                 display: flex;
																justify-content: center;
																align-items: center;
																padding-right: 1em;  
																padding-left: .4em;  }

															.tres{
                                                                display: flex;
																justify-content: center;
																align-items: center;}
    
															.cuatro{
																display: flex;
																justify-content: center;
																align-items: center;
																width: 100vh;}

															.outer-wrapper {
																display:block;
																width: 100vh;
																height: 100vw;
																transform: rotate(-90deg) translateX(-100vh);
																transform-origin: top left;
																overflow-y: scroll;
																overflow-x: hidden;
																position:absolute;
																scrollbar-width:none;
																-ms-overflow-style: none;
															}
															::-webkit-scrollbar{
																display:none;
															}
                                                            footer{background: transparent;
                                                                    text-align: center;}

															
															.fotos{width: 80vh;
																	padding-left: 2em}
															.fotosv{height: 52vh;
																	padding-left: 2em}
                                                            .fotosc{height: 51vh;
                                                                    padding-left: 2em;}
															/*.degradado-lateral{
															position: absolute;
															z-index: 1;
															background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1))}		
															*/
														
													
                                        				.fixed-bottom{width: 3.5em;
                                                    		  padding-bottom: 4em;
                                                       		 position: fixed;
                                                        	left: 125em;
                                                        	}   
															.transparente{opacity: 0;}	
                                                                
																    
                                                            .series{display: block;
                                                                    top: 90vh}
    														.celu{display: none}
															.instagram{display: block;}	
}    


@media (min-width: 1200px) and (max-height: 799px) and (orientation: landscape){
	.dropdown-item.active, .dropdown-item:active{background: transparent;}
	.dropdown-item:focus, .dropdown-item:hover {background-color: transparent;}
	.htrescelu{font-size: 2rem;}
	.hseiscelu{font-size: 1rem;}
		.wrapper{
			display: flex;
			flex-direction: row;
			width: 1092%;
			height: 100vh;
			transform:rotate(90deg) translateY(-100vh);
			transform-origin: top left;
			background-image: url(imagenes/ruidonegroancho.gif);
			background-repeat: repeat;
		}

		.uno{
			
			display: flex;
			justify-content: center;
			align-items: center;}

		.dos{
			 display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 1em;  
			padding-left: .4em;  }

		.tres{
			display: flex;
			justify-content: center;
			align-items: center;}

		.cuatro{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vh;}

		.outer-wrapper {
			display:block;
			width: 100vh;
			height: 100vw;
			transform: rotate(-90deg) translateX(-100vh);
			transform-origin: top left;
			overflow-y: scroll;
			overflow-x: hidden;
			position:absolute;
			scrollbar-width:none;
			-ms-overflow-style: none;
		}
		::-webkit-scrollbar{
			display:none;
		}
		footer{background: transparent;
				text-align: center;}

		
		.fotos{width: 80vh;
				padding-left: 2em}
		.fotosv{height: 52vh;
				padding-left: 2em}
		.fotosc{height: 51vh;
				padding-left: 2em;}
	

	.fixed-bottom{width: 3.5em;
		  padding-bottom: 4em;
			position: fixed;
		left: 125em;
		}   
		.transparente{opacity: 0;}							
		.series{display: block;
				top: 90vh}
		.celu{display: none}
		.instagram{display: block;}	
}    



@media (min-width: 1200px) and (max-height: 500px) and (orientation: landscape){
	.dropdown-item.active, .dropdown-item:active{background: transparent;}
	.dropdown-item:focus, .dropdown-item:hover {background-color: transparent;}
	.htrescelu{font-size: 2rem;}
	.hseiscelu{font-size: 1rem;}
		.wrapper{
			display: flex;
			flex-direction: row;
			width: 1100%;
			height: 100vh;
			transform:rotate(90deg) translateY(-100vh);
			transform-origin: top left;
			background-image: url(imagenes/ruidonegroancho.gif);
			background-repeat: repeat;
		}

		.uno{
			
			display: flex;
			justify-content: center;
			align-items: center;}

		.dos{
			 display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 1em;  
			padding-left: .4em;  }

		.tres{
			display: flex;
			justify-content: center;
			align-items: center;}

		.cuatro{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vh;}

		.outer-wrapper {
			display:block;
			width: 100vh;
			height: 100vw;
			transform: rotate(-90deg) translateX(-100vh);
			transform-origin: top left;
			overflow-y: scroll;
			overflow-x: hidden;
			position:absolute;
			scrollbar-width:none;
			-ms-overflow-style: none;
		}
		::-webkit-scrollbar{
			display:none;
		}
		footer{background: transparent;
				text-align: center;}

		
		.fotos{width: 80vh;
				padding-left: 2em}
		.fotosv{height: 52vh;
				padding-left: 2em}
		.fotosc{height: 51vh;
				padding-left: 2em;}
	

	.fixed-bottom{width: 3.5em;
		  padding-bottom: 4em;
			position: fixed;
		left: 125em;
		}   
		.transparente{opacity: 0;}							
		.series{display: block;
				top: 90vh}
		.celu{display: none}
		.instagram{display: block;}	
}    



@media (min-width: 1200px)  and (min-height: 2px) and (max-height: 350px) and (orientation: landscape){
	.dropdown-item.active, .dropdown-item:active{background: transparent;}
	.dropdown-item:focus, .dropdown-item:hover {background-color: transparent;}
	.htrescelu{font-size: 2rem;}
	.hseiscelu{font-size: 1rem;}
		.wrapper{
			display: flex;
			flex-direction: row;
			width: 1158%;
			height: 100vh;
			transform:rotate(90deg) translateY(-100vh);
			transform-origin: top left;
			background-image: url(imagenes/ruidonegroancho.gif);
			background-repeat: repeat;
		}

		.uno{
			
			display: flex;
			justify-content: center;
			align-items: center;}

		.dos{
			 display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 1em;  
			padding-left: .4em;  }

		.tres{
			display: flex;
			justify-content: center;
			align-items: center;}

		.cuatro{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vh;}

		.outer-wrapper {
			display:block;
			width: 100vh;
			height: 100vw;
			transform: rotate(-90deg) translateX(-100vh);
			transform-origin: top left;
			overflow-y: scroll;
			overflow-x: hidden;
			position:absolute;
			scrollbar-width:none;
			-ms-overflow-style: none;
		}
		::-webkit-scrollbar{
			display:none;
		}
		footer{background: transparent;
				text-align: center;}

		
		.fotos{width: 80vh;
				padding-left: 2em}
		.fotosv{height: 52vh;
				padding-left: 2em}
		.fotosc{height: 51vh;
				padding-left: 2em;}
	

	.fixed-bottom{width: 3.5em;
		  padding-bottom: 4em;
			position: fixed;
		left: 125em;
		}   
		.transparente{opacity: 0;}							
		.series{display: block;
				top: 90vh}
		.celu{display: none}
		.instagram{display: block;}	
}    

@media (min-width: 1200px)  and (min-height: 2px) and (max-height: 350px) and (orientation: landscape){
	.dropdown-item.active, .dropdown-item:active{background: transparent;}
	.dropdown-item:focus, .dropdown-item:hover {background-color: transparent;}
	.htrescelu{font-size: 2rem;}
	.hseiscelu{font-size: 1rem;}
		.wrapper{
			display: flex;
			flex-direction: row;
			width: 1158%;
			height: 100vh;
			transform:rotate(90deg) translateY(-100vh);
			transform-origin: top left;
			background-image: url(imagenes/ruidonegroancho.gif);
			background-repeat: repeat;
		}

		.uno{
			
			display: flex;
			justify-content: center;
			align-items: center;}

		.dos{
			 display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 1em;  
			padding-left: .4em;  }

		.tres{
			display: flex;
			justify-content: center;
			align-items: center;}

		.cuatro{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vh;}

		.outer-wrapper {
			display:block;
			width: 100vh;
			height: 100vw;
			transform: rotate(-90deg) translateX(-100vh);
			transform-origin: top left;
			overflow-y: scroll;
			overflow-x: hidden;
			position:absolute;
			scrollbar-width:none;
			-ms-overflow-style: none;
		}
		::-webkit-scrollbar{
			display:none;
		}
		footer{background: transparent;
				text-align: center;
				display: none;}

		
		.fotos{width: 80vh;
				padding-left: 2em}
		.fotosv{height: 52vh;
				padding-left: 2em}
		.fotosc{height: 51vh;
				padding-left: 2em;}
	.display-none{display: none;}

	.fixed-bottom{width: 3.5em;
		  padding-bottom: 4em;
			position: fixed;
		left: 125em;
		
		}   
		.transparente{opacity: 0;}							
		.series{display: block;
				top: 90vh}
		.celu{display: none}
		.instagram{display: block;}	
}    
